<div class="container">

<h1><%= @user.username %></h1>
<% if @user.team_name %>
  <h1><%= @user.team_name %></h1>
<% else %>
  <p>Name your cutie crew?</p>
<% end %>

<h2>Your Crew</h2>
  <ul>
    <% @cuties.each do |cutie| %>
      <li>
        <div class="square-container">
          <%= image_tag(cutie.cutie_pic, class: "square-pic") %>
        </div><br>
        <%= cutie.name %>

      </li>
    <% end %>
  </ul>
</div>
