<div class="container">
  <h1>Meet The Cuties</h1>

  <ul>
    <% @cuties.each do |cutie| %>
    <a href= cutie_path >
      <li class="cutie-box">
          <%= image_tag(cutie.cutie_pic, class: "index-pic") %><br>
          <%= cutie.name %>
      </li>
    </a>
    <% end %>
  </ul>
</div>
