<div class="container">
  <h1>Meet The Cuties</h1>

  <ul>
    <% @cuties.each do |cutie| %>
      <li>
        <%= image_tag(cutie.cutie_pic, class: "index-pic") %>
        <%= link_to cutie.name, cuty_path(cutie)%><br>
      </li>
    <% end %>
  </ul>
</div>
