<div class="" ontouchstart="this.classList.toggle("hover")">
  <h1>Meet The Cuties</h1>
  <% @cuties.each do |cutie| %>

    <%=link_to cuty_path(cutie) do %>

      <div class="">
        <div class="">
          <%= image_tag(cutie.cutie_pic, class: "") %><br>
        </div>

        <div class="">
          <%= image_tag(cutie.cutie_pic, class: "") %><br>
          <%= cutie.name %>
        </div>
      </div>

    <% end %>

  <% end %>

</div>
