a {
  color: white;
  text-decoration: none;
}

body {
  background-color: #a6d8dd;
  color: white
}

input {
  background-color: white;
  width: 200px;
  color: black;
}

input[type="file"] {
  width: 300px;
}

textarea {
  border: 3px solid grey;
  margin: 10px;
  padding: 5px;
  color: black;
}

nav {
  background-color: #ffca3a;
  border-bottom: 5px solid grey;
  display: block;
  width: 100%;
  height: 125px;
}

select {
  color: black;
  background-color: white;
}

ul {
 list-style: none;
}

.activity {
  margin-top: 75px;
}

.activity li {
  border: 3px solid grey;
  margin: 10px;
  padding: 5px;
  list-style: none;

}

.cutie-box {
  background-color: #ffca3a;
  text-align: center;
  border: 3px solid grey;
  height: 250px;
  width: 250px;
  margin: 10px;
  padding-top: 10px;
  display: inline-block;
  overflow: hidden;
}

.form-box  {
  text-align: center;
  /*width: 90%;*/
  /*border: 3px solid black;*/
  margin-bottom: 20px;

}

.index-pic {
  max-width: 200px;
  max-height: 200px;
}

.logo {
  color: white;
  font-size: 125px;
  /*border: 3px solid black;*/
  padding-left: 5%;
}

.logo a {
  text-decoration: none;
}

.nav-links {
  /*border: 3px solid black;*/
  text-align: right;
  padding-right: 5%;
}

.nav-links li {
  display: inline;
  margin: 4px;
}

.photo-area {
  text-align: center;
}

.show-pic {
  width: 400px;
  margin-bottom: 20px;
}

.square-container {
  height: 200px;
  width: 200px;
  overflow: hidden;
}

.square-pic {
  height: 200px;
  overflow: hidden;
}

.team-header {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
