a {
  color: white
}

body {
  background-color: #7cdbd3;
  color: white
}

input {
  width: 200px;
  color: black
}

nav {
  background-color: #f9be02;
  border-bottom: 5px solid grey;
  width: 100%;
  height: 125px
}

ul {
 list-style: none;
}

.activity li {
  border: 3px solid grey;
  margin: 10px;
  padding: 5px;
}

.index-pic {
  width: 200px
}

.show-pic {
  width: 400px
}

.logo {
  color: white;
  font-size: 125px;

}
