a {
  color: #220901;
  text-decoration: none;
}

body {
  background-color: #f3eedc;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  color: #220901
}

button {
  background-color: #2f004d;
  border: none;
  color: #f3eedc;
  width: 80%;
  border-radius: 5px;
}

button a {
  color: #f3eedc;
  border: none;
}

form {
  margin-bottom: 0;
}

h1, h2, h3 {
  margin: 0;
}

input[type="checkbox"] {
  width: inherit;
}

input[type="submit"] {
  background-color: #2f004d;
  color: #f3eedc;
  border: none;
  border-radius: 10px;
}

input {
  background-color: #f3eedc;
  width: 200px;
  color: black;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

input[type="file"] {
  width: 300px;
}

textarea {
  border: 3px solid #5B3F5A;
  padding: 5px;
  color: black;
  width: 90%;
  margin-bottom: 0;

}

nav {
  background-color: #2f004d;
  width: 100%;
  height: 4%;
}

p {
  font-size: 1em;
  margin: 10px;
}

select {
  color: black;
  background-color: #f3eedc;
  margin-left: 10px;
}

ul {
 list-style: none;
}

.alerts {
  color: black;
  display: inline-block;
  margin-left: 5%;
}

.activity {
  margin-top: 10px;
  font-size: .75em;
}

.activity li {
  border: 3px solid #5B3F5A;
  margin: 10px;
  padding: 5px;
  list-style: none;
  width: 100%;
  overflow: auto;
}

.buddy-pic {
  height: 80px;
}

.btn {
  border: none;
  color: #220901;
  margin-bottom: 0;
  border-radius: 10px;
}

.crew-box {
  background-color: #f3eedc;
  height: 50px;
  border: 3px solid #5B3F5A;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.crew-pic {
  height: 50px;
}

.placeholder {
  height: 50px;
  width: 50px;
  background-color: #f3eedc;
}

.post-media {
  float: left;
  margin-right: 10px;
}

.cutie-box {
  font-size: 1em;
  border: 3px solid #5B3F5A;
  height: 200px;
  width: 200px;
  padding-top: 5px;
  border-radius: 5px;
}

.edit-box {
  text-align: right;
  border: 3px solid #5B3F5A;
  margin: 10px;
  padding: 0;
  border-radius: 5px;
}

.footer {
  width: 100%;
  background-color: #2f004d;
  bottom: 0;
  color: #f3eedc;
}

.footer a {
  color: #f3eedc;
}

.hidden {
  visibility: hidden;
}

.index-pic {
  max-width: 150px;
  max-height: 150px;
}

.logo {
  color: #f3eedc;
  padding: 5%;
}

.logo img {
  width: 75%;
  margin: 8%;
}

.nav-link-box {
  text-align: right;
  color: #f3eedc;
  padding-right: 2%;
}

.nav-link-box a {
  color: #f3eedc;
}

.nav-links {
  margin-top: 11%;
  font-size: 1.5em;
  display: inline-block;
  margin-left: 4%;
}

.photo-area {
  text-align: center;
}

.show-pic {
  width: 320px;
}

.square-container {
  height: 200px;
  width: 200px;
  overflow: hidden;
}

.square-pic {
  height: 200px;
  overflow: hidden;
}

.team-header {
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
