a {
  color: #220901;
  text-decoration: none;
}

body {
  background-color: #f3eedc;
  color: #220901
}

button {
  background-color: #2f004d;
  width: 200px;
  margin: 3px;
}

button a {
  color: #f3eedc;
}


h1 {
  margin-bottom: 0;
}

input[type="checkbox"] {
  width: inherit;
}

input[type="submit"] {
  background-color: #2f004d;
  color: #f3eedc;
}

input {
  background-color: #f3eedc;
  width: 200px;
  color: black;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

input[type="file"] {
  width: 300px;
}

textarea {
  border: 3px solid #5B3F5A;
  margin: 10px;
  padding: 5px;
  color: black;
}

nav {
  background-color: #2f004d;
  border-bottom: 5px solid #220901;
  display: block;
  width: 100%;
}

p {
  font-size: 20px;
  margin: 10px;
}

select {
  color: black;
  background-color: #f3eedc;
}

ul {
 list-style: none;
}

.alerts {
  color: black;
  display: inline;
  /*float: right;*/
}

.activity {
  margin-top: 75px;
}

.activity li {
  border: 3px solid #5B3F5A;
  margin: 10px;
  padding: 5px;
  list-style: none;
}

.btn {
  color: #220901;
  margin-bottom: 0;
}

.crew-box {
  background-color: #f3eedc;
  height: 50px;
  border: 3px solid #5B3F5A;
  margin: 10px;
  padding: 10px;
}

/*.crew-box:hover {
  background-color: white;
  box-shadow: 10px 10px 5px #888888;
}*/

.crew-pic {
  height: 50px;
}

.placeholder {
  height: 50px;
  width: 50px;
  background-color: #f3eedc;
}

.cutie-box {
  /*background-color: #f3eedc;*/
  /*text-align: center;*/
  border: 3px solid #5B3F5A;
  height: 250px;
  width: 250px;
  padding-top: 5px;
}

.cutie-box:hover {
  /*background-color: white;
  box-shadow: 10px 10px 5px #888888;*/

}

.edit-box {
  text-align: right;
  border: 3px solid #5B3F5A;
  margin: 10px;
  /*height: 250px;*/
  padding: 0;
}

.form-box  {
  text-align: center;
  /*width: 90%;*/
  /*border: 3px solid black;*/
  margin-bottom: 20px;
}

.hidden {
  visibility: hidden;
}

.index-pic {
  max-width: 200px;
  max-height: 200px;
}

.logo {
  color: #f3eedc;
  font-size: 7em;
  /*border: 3px solid black;*/
  padding-left: 5%;
}

.logo a {
  color: #f3eedc;
  text-decoration: none;
}

.middle {
   display:inline-block;
   padding-top: 50%;
}

.nav-links {
  /*border: 3px solid black;*/
  text-align: right;
  padding-right: 5%;
  color: #f3eedc;
}

.nav-links a {
  color: #f3eedc;
}

.nav-links li {
  margin: .75%;
}

.photo-area {
  text-align: center;
}

.show-pic {
  width: 400px;
  margin-bottom: 20px;
}

.square-container {
  height: 200px;
  width: 200px;
  overflow: hidden;
}

.square-pic {
  height: 200px;
  overflow: hidden;
}

.team-header {
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/*-------------------*/
