a {
  color: #220901;
  text-decoration: none;
}

body {
  background-color: #f3eedc;
  color: #220901
}

button {
  background-color: #877387;
  width: 200px;
  margin: 3px;
}

button a {
  color: black;
}


h1 {
  margin-bottom: 0;
}

input[type="checkbox"] {
  width: inherit;
}

input[type="submit"] {
  background-color: #220901;
  color: #f3eedc;
}

input {
  background-color: #f3eedc;
  width: 200px;
  color: black;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

input[type="file"] {
  width: 300px;
}

textarea {
  border: 3px solid grey;
  margin: 10px;
  padding: 5px;
  color: black;
}

nav {
  background-color: #220901;
  border-bottom: 5px solid #5B3F5A;
  display: block;
  width: 100%;
  height: 125px;
}

p {
  font-size: 20px;
  margin: 10px;
}

select {
  color: black;
  background-color: #f3eedc;
}

ul {
 list-style: none;
}

.alerts {
  color: black;
  width: 300px;
  height: 30px;
  float: right;
}

.activity {
  margin-top: 75px;
}

.activity li {
  border: 3px solid grey;
  margin: 10px;
  padding: 5px;
  list-style: none;
}

.btn {
  color: #220901;
  margin-bottom: 0;
}

.crew-box {
  background-color: #f3eedc;
  height: 50px;
  border: 3px solid #5B3F5A;
  margin: 10px;
  padding: 10px;
}

/*.crew-box:hover {
  background-color: white;
  box-shadow: 10px 10px 5px #888888;
}*/

.crew-pic {
  height: 50px;
}

.placeholder {
  height: 50px;
  width: 50px;
  background-color: #f3eedc;
}

.cutie-box {
  background-color: #f3eedc;
  /*text-align: center;*/
  border: 3px solid #5B3F5A;
  height: 250px;
  width: 250px;
  padding-top: 5px;
}

.cutie-box:hover {
  /*background-color: white;
  box-shadow: 10px 10px 5px #888888;*/

}

.edit-box {
  text-align: right;
  border: 3px solid grey;
  margin: 10px;
  /*height: 250px;*/
  padding: 0;
}

.form-box  {
  text-align: center;
  /*width: 90%;*/
  /*border: 3px solid black;*/
  margin-bottom: 20px;
}

.hidden {
  visibility: hidden;
}

.index-pic {
  max-width: 200px;
  max-height: 200px;
}

.logo {
  color: #f3eedc;
  font-size: 100px;
  /*border: 3px solid black;*/
  padding-left: 5%;
}

.logo a {
  color: #f3eedc;
  text-decoration: none;
}

.nav-links {
  /*border: 3px solid black;*/
  text-align: right;
  padding-right: 5%;
  color: #f3eedc;
}
.nav-links a {
  color: #f3eedc;
}
.nav-links li {
  margin: 4px;
}

.photo-area {
  text-align: center;
}

.show-pic {
  width: 400px;
  margin-bottom: 20px;
}

.square-container {
  height: 200px;
  width: 200px;
  overflow: hidden;
}

.square-pic {
  height: 200px;
  overflow: hidden;
}

.team-header {
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/*-------------------*/

.f-container{
  height: 250px;
  width: 250px;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  display: inline-block;

  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
}

.front,
.back{
  background-size: cover;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 250px;
	height: auto;
	/*border-radius: 10px;
	color: #fff;*/
	font-size: 1.5rem;
}

.back{
  /*background: #cedce7;*/
  /*background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);*/
}

.front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    /*content: '';*/
    /*display: block;*/
    opacity: .6;
    /*background-color: #000;*/
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.f-container:hover .front,
.f-container:hover .back{
    /*-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);*/
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    /*width: 100%;*/
}

.inner{
    /*-webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;*/
}

.f-container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.f-container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.f-container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.f-container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  /*font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;*/
}

.front .inner p:after{
  /*content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;*/
}

.front .inner span{
  /*color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;*/
}
