a {
  color: white
}

body {
  background-color: #7cdbd3;
  color: white
}

input {
  background-color: #f3eedc;
  width: 200px;
  color: black
}

input[type="file"] {
  width: 400px
}

nav {
  background-color: #f9be02;
  border-bottom: 5px solid grey;
  width: 100%;
  height: 125px
}

select {
  color: black;
  background-color: #f3eedc;
}

ul {
 list-style: none;
}

.activity li {
  border: 3px solid grey;
  margin: 10px;
  padding: 5px;
}

.index-pic {
  width: 200px
}

.show-pic {
  width: 400px
}

.square-container {
  height: 200px;
  width: 200px;
  overflow: hidden;
}

.square-pic {
  height: 200px;
  overflow: hidden;
}

.logo {
  color: white;
  font-size: 125px;
}

.logo a {
  text-decoration: none;
}
